.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance {
    font-size: 1.5rem;
    color: var(--white);
    align-items: center;
    justify-content: center;
}